/* <!-- -------- Google Font Roboto -------- --> */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {margin: 0%;
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    color: #000;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;}
a { text-decoration: none;}
li { list-style: none;}
.btns {
    box-shadow: 
    rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, 
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, 
    rgba(0, 0, 0, 0.06) 0px 2px 1px, 
    rgba(0, 0, 0, 0.09) 0px 4px 2px, 
    rgba(0, 0, 0, 0.09) 0px 8px 4px, 
    rgba(0, 0, 0, 0.09) 0px 16px 8px, 
    rgba(0, 0, 0, 0.09) 0px 10px 17px;
    background-color: #008080;
    color: rgb(0, 0, 0) ;
    padding: .6em 1em ;
    border-radius: 2em;
    border: 2px solid transparent;
    margin: 1em;}
.btns:hover {border: 2px solid #008080;
    background-color: #ffffff;
    color: #000;}
h2 {padding: 2em 0 1em 0;;
    text-align: center;
    color: #000000;
    font-weight: 600;}
h4 {color: #000000;
    font-weight: 600;}

    /* ---------- Nav Section ---------- */ 

nav ul li a { color: #000;
    text-transform: uppercase;}
nav {box-shadow: 0 1px 5px black;
    font-weight: 500;}
.nav-section .logo:hover{
    transform:rotateX(360deg);
    transition-duration: 1.5s;}
nav a:hover {color: #ffffff;
    border-bottom: 3px solid #000000;}
section { padding: 2em 0;}

    /* ----- Home Section ----- */

#home {background-color: #0080807c; }
.home {display: flex;
    position: relative; 
}
.home-sec {padding-top: 3em;
    display: grid; 
    grid-template-columns: repeat(2, 1fr); 
    align-items: center;
    text-align: center;
    justify-items: center;  
}
.cover-pic {
    border: 5px solid ;
    border-radius: 15em;
    overflow: hidden;
    width: 15em;
    height: 15em;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, 
    rgba(0, 0, 0, 0.07) 0px 2px 4px, 
    rgba(0, 0, 0, 0.07) 0px 4px 8px, 
    rgba(0, 0, 0, 0.07) 0px 8px 16px, 
    rgba(0, 0, 0, 0.07) 0px 16px 32px, 
    rgba(0, 0, 0, 0.07) 0px 32px 64px;
    animation: float 2s ease-in-out infinite;
    animation-delay: 3s;}
.cover-pic img{width: 15em;
    height: 15em;}
/* @keyframes float {
    0%{transform: translatey(0);}
    50%{transform: translatex(-25px);}
    100%{transform: translatey(0);}} */

/* .cover-title .freelancer {
    height: 1.5em ;
    overflow: hidden;}
.freelancer li {color: black ; 
    font-size: 450px;
    position: relative;
    top:0;
    animation: slide 5s steps(5) infinite ;}
@keyframes slide {100% {top: -380px;}}
.freelancer li span{
    position: relative;} */

/* ----- Service Section ----- */

.service-sec {position: relative;
        width: 90%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px ,1fr ));
        /* grid-template-rows: auto; */
        grid-gap: 30px;
}
.service-sec .box {
        position: relative;
        /* width: 280px ;
        height: 280px; */
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ffffff;
}
.service-sec .box:before {
        content:'' ;
        position: absolute;
        top: -5px;
        left: -3px;
        right: -3px;
        bottom: -5px;
        background-color: #000;
        transform: skew(2deg, 2deg);
        z-index: -1 ;
}
.content {justify-content: center;
        position: relative;
        padding: 1em;
}
.box .content h2 {
        position: absolute;
        top: 20px;
        right: 20px;
        margin: 0;
        padding: 0;
        font-size: 5em;
        color: #55555541;
        transition: 0.5s;
    }
.box:hover .content h2{
        transform: translatex(20px);
    }
.box .content h3{
        margin: 0 0 10px;
        padding: 0;
        font-size: 24px;
        font-weight: 600;
        color: #000000;
    }
.box .content p {
        margin: 0;
        padding: 0;
        
    }
.box .content a {
        position: relative;
        margin: 0;
        margin-top: 15px;
        border: 2px solid #000;
        border-radius: 10px;
        color: #004d4d;
        padding: 5px 10px;
        display: inline-block;
        transition: 0.5s;
        transform: translateY(-50px);
        opacity: 0;
        visibility: hidden;
}
.box:hover .content a {
    transform: translateY(0px);
    opacity: 100;
    visibility: visible;
}
.box .content a:hover {
    color: #ffffff; ;
    background: #008080;
}
    
    /* ----- Skills Section ----- */

.skills {
   justify-content: center; 
}
.skill-sec>.row>.col {
    border-radius: 10px;
    text-align: center;
    color: #ffffff;
    background-color: #008080; 
    box-shadow: 
    rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, 
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, 
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, 
    rgba(0, 0, 0, 0.06) 0px 2px 1px, 
    rgba(0, 0, 0, 0.09) 0px 4px 2px, 
    rgba(0, 0, 0, 0.09) 0px 8px 4px, 
    rgba(0, 0, 0, 0.09) 0px 16px 8px, 
    rgba(0, 0, 0, 0.09) 0px 10px 17px;
}
.logo-s img{
    margin:2em .5em;
    width: 2em;
    height: 2em;
}
.hr{margin-top: 1em ;
    border: 0;
    height: 1px;
    margin-bottom: 5px;
    background-image: linear-gradient(to right, 
    rgba(0, 0, 0, 0), rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0));
}
.logo-s{
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    align-items: center;
    justify-items: center;
}
.logo-s img:hover{
    transform: scale(1.5);
    transition: transform 0.5s ease-in-out;
}
    /* ----- Portfolio Section ----- */

.portfolio {padding-top: 1em;}
    .portfolio-section { display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2em;
        border-radius: 1em;}
    .picture {width: 20em;
        height: 20em;
        border-radius: 0.3rem;
        overflow: hidden;
        box-shadow: 0 1px 5px black;}
    .picture img { width: 100%;
        height: 100%;}
    .picture img:hover {transform: scale(1.5);
        transition-duration: 1.5s; }
    
    /* ----- Sample Section ----- */

.sample-sec .row .col:hover{
    box-shadow: 1px 2px 10px #008080;
}

    /* ----- Contact Section ----- */

.contact { background-color: #f2f2f2;}
.contact-sec {
        border-radius: 5px;
        padding: 1em;
      }
.column {
        float: left;
        width: 50%;
        margin-top: 6px;
        padding: 1em;
      }
    .row:after {
        content: "";
        display: table;
        clear: both;
      }
    .contact-sec .contact-box{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .contact-box .contact{
        display: flex;
        flex-direction: column;
    }
    .contact-box .one{
        flex-basis: 35%;
        min-width: 320px;
        margin-right: 60px;
    }
    .one .contact-title h3{
        position: relative;
        font-weight: 600;
        color: #008080;
        display: inline-block;
        margin-bottom: 1em;
    }
    .one .contact.title h3::before{
        content: '';
        position: absolute;
        width: 50%;
        height: 1px;
        background-color: #008080;
        top: 120%;
        left: 0;
    }
    .one .contact-title p{
        color: #000000;
        letter-spacing: 1px;
        line-height: 1.2;
        padding-bottom: 1px;
    }
    .one .contact-info{
        margin-bottom: .5em;
    }
    .contact-info .icon-group{
        display: flex;
        align-items: center;
        margin: 25px 0px;
    }
    .icon-group .icon{
        width: 2em;
        height: 2em;
        border: 2px solid #008080;
        border-radius: 50%;
        margin-right: 1em;
        position: relative;
    }
    .icon-group .icon i{
        font-size: 1em;
        color: #000000;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .icon-group .details span{
        display: block;
        color: #000000;
    }
.icon-group .details span:nth-child(1){
        text-transform: uppercase;
        color:  #008080;
    }
.one .social-icon{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        margin: 1em 0 1em;
    } 
.social-icon a{
        width: 2em;
        height: 2em;
        text-decoration: none;
        text-align: center;
        margin-right: 1em;
        border-radius: 5px;
    }
.social-icon a i{ width: 2em;
        height: 2em;
        color: #000000;
        line-height: 1em;}
form>label { color: #007070;
    border: none;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
input[type=submit] {
    background-color: #008080;
    border-radius: 20px;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}
input[type=submit]:hover {
        background-color: #ffffff;
        color: #008080;
        border: 1px solid #008080 ;
}

    /* ----- Footer Section ----- */

footer {box-shadow: 
    rgba(0, 0, 0, 0.25) 0px 54px 55px, 
    rgba(0, 0, 0, 0.12) 0px -12px 30px, 
    rgba(0, 0, 0, 0.12) 0px 4px 6px, 
    rgba(0, 0, 0, 0.17) 0px 12px 13px, 
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background-color: #000000;
    text-align: center;
    }

    /* ----- Mobile Responsive ----- */

@media screen and (max-width: 767px) {
    /* ----- Home ----- */
.home-sec {
    grid-template-columns: repeat(1, 1fr);
 }
    /* ----- Service ----- */
.service-sec {justify-items: center;
    grid-template-columns: repeat(1,1fr);
    }
    /* ----- Skills ----- */
.logo-s img{
    margin: .5em .3em;
    width: 1em;
    height: 1em;}
    /* ----- Portfolio ----- */
.portfolio-section { justify-items: center;
        grid-template-columns: repeat(1, 1fr);
        gap: 2em;}
    /* ----- Sample ----- */

    /* ----- About ----- */

    /* ----- Contact ----- */


}

    /* ----- Tab Responsive ----- */

@media screen and (min-width: 768px)  {
    /* ----- Home ----- */

    /* ----- Service ----- */
.service-sec {justify-items: center;
    grid-template-columns: repeat(2,1fr);
        }
    /* ----- Skills ----- */

    /* ----- Portfolio ----- */

    /* ----- Sample ----- */

    /* ----- About ----- */

    /* ----- Contact ----- */
}


@media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
    .hire h2 {font-size: 1.5em}
}
@media(max-width: 1100px){
  .messageForm .halfWidth{
      flex-basis: 100%;
  }
}
@media(max-width: 900px){
  .container .row{
      flex-wrap: wrap;
  }
  .row section.left, .row section.right{
      flex-basis: 100%;
      margin: 0px;
  }
}

