/* <!-- -------- Google Font Roboto -------- --> */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {margin: 0%;
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    color: #000;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: #ffffff;
}
a { text-decoration: none; }
li { list-style: none; }
.btns { box-shadow: 
    rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, 
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, 
    rgba(0, 0, 0, 0.06) 0px 2px 1px, 
    rgba(0, 0, 0, 0.09) 0px 4px 2px, 
    rgba(0, 0, 0, 0.09) 0px 8px 4px, 
    rgba(0, 0, 0, 0.09) 0px 16px 8px, 
    rgba(0, 0, 0, 0.09) 0px 10px 17px;
    background-color: #008080;
    color: white ;
    padding: .5em .8em ;
    border-radius: 2em;
    border: 2px solid transparent;
    margin-left: 1em;
}
.btns:hover {
    border: 2px solid #008080;
    background-color: #ffffff;
    color: #000;
}
h2 {
    padding: 3em 0 .8em 0;;
    text-align: center;
    color: #000000;
    font-weight: bolder;
}

    /* ----- Home Section ----- */

#home {background-color: #000505e0; }

.home-sec {
    padding: 3em;
    display: grid; 
    grid-template-columns: repeat(2, 1fr); 
    gap: 3em;
    align-items: center;
    text-align: center;
    justify-items: center;
}
.cover-title .glow {
    color: #000; 
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 
    0 0 30px #fff, 0 0 4px #c7c7c7, 
    0 0 70px #dddddd, 0 0 8px #cecece, 
    0 0 50px rgb(241, 241, 241);
}
.cover-pic {
    border-radius: 5em .1em;
    overflow: hidden;
    width: 20em;
    height: 20em;
    max-width: 100%;
    display: block;
    position: relative;
    animation: animate-image 6s ease-in-out infinite alternate;
}
.cover-pic img{width: 100%;}

@keyframes animate-image {
    0% { transform: translateX(15px) translateY(-15px);}
    50% {transform: translateX(0px) translateY(0px);}
    100% { transform: translateX(-15px) translateY(-15px);}
}   

    /* ----- Navbar Section ----- */

#header_wrapper {
    background: #F9F9F9;
    padding: .5em 0px;
	color: #000000;
    border-bottom: 1px solid #E8E8E8;
}
.header_box {
    position: fixed;
}
.Navbar {box-shadow: 
    rgba(0, 0, 0, 0.15) 0px 1px 15px 6px;
}

.navbar-brand:hover {transform:rotatey(360deg);
    transition-duration: 1.5s;
}
  .navbar-nav .nav-link {
    font-size: 1.2rem;
    margin-left: 1em;
}

/* ----- Service Section ----- */

.service-sec {position: relative;
        width: 90%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px ,1fr ));
        grid-gap: 3em;
}
.service-sec .box {
        position: relative;
        padding: 1em;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ffffff;
}
.service-sec .box:before {
        content:'' ;
        position: absolute;
        top: -4px;
        left: -3px;
        right: -3px;
        bottom: -4px;
        background-color: #008080;
        transform: skew(2deg, 2deg);
        z-index: -1 ;
}
.content {justify-content: center;
        position: relative;
        padding: 1em;
}
.box .content i {
        position: absolute;
        top: 20px;
        right: 0px;
        margin: 0;
        padding: 0;
        font-size: 5em;
        color: #55555541;
        transition: 1s;
}
.box:hover .content i {
        transform: translatex(-20px);
}
.box .content h3{
        margin: 0 0 10px;
        padding: 0;
        font-weight: 600;
        color: #000000;
}
.box .content p {
    margin: 0;
    padding: 0;
}
.box .content a {
        position: relative;
        margin: 0;
        margin-top: 15px;
        border: 2px solid #000;
        border-radius: 10px;
        color: #004d4d;
        padding: 5px 10px;
        display: inline-block;
        transition: 0.5s;
        transform: translateY(-50px);
        opacity: 0;
        visibility: hidden;
}
.box:hover .content a {
    transform: translateY(0px);
    opacity: 100;
    visibility: visible;
}
.box .content a:hover {
    color: #ffffff; ;
    background: #008080;
}

    /* ----- Skills Section ----- */

.skills {
   justify-items: center; 
   margin: 2em;
}
.skill-sec .logos { display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2.5em;
    border-radius: 1em;
    justify-items: center; }
.logos .logo {justify-items: center; 
    width: 11em;
    height: 11em;
    border-radius: 0.3rem;
    margin: 1em 0em;
}
.logo img { width: 100%;
    height: 100%;
}
.logo img:hover {transform: scale(1.2);
    transition-duration: .5s;
}
.hr{margin: 1em ;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, 
    rgba(3, 0, 0, 0), 
    rgba(0, 0, 0, 1),
    rgba(3, 0, 0, 0));
}

    /* ----- Portfolio Section ----- */

.portfolio-sec .gallery {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.5em;
}
.gallery {
    justify-items: center;
    align-items: center;
    padding: 1em;
    margin: 1em;
}
.gallery  .box {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}
.gallery .box .image {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
}
.gallery .box .image img {
    width: 280px;
    height: 280px;
    transition: all 0.5s ease-in-out;
    }
.gallery .box:hover .image img {
    transform: scale(1.1);
}
.gallery .box .title {
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    transform: translateX(100%);
    transition: all 0.5s ease-in-out;
}
.gallery .box:hover .title {
    transform: translateX(0%);
}
 
    /* ----- Sample Section ----- */

.sample-sec {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1.5em;
}
.sample-sec .box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 1em;
        margin: 1em;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        transition: all 0.3s ease-in-out;
        justify-content: space-between;
      }
.sample-sec .box:hover {
        transform: scale(1.0);
        box-shadow: 0px 0px 10px #008080;
      }
.sample-sec .box img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 1em 1em 0 0 ;
        margin-bottom: 20px;
        transition: all 0.3s ease-in-out;
}
.sample-sec .box:hover img {
    filter: brightness(80%);
}
.sample-sec .box button {
        background-color: #008080;
        color: white;
        border: 2px solid #e6e6e6;
        border-radius: 2em;
        padding: .5em 2em;
      }
.sample-sec .box button:hover {
    color: #008080;
    background-color: #ffffff;
    border: 2px solid #008080;
}

    /* ----- Contact Section ----- */

/* .contact { background-color: #f2f2f2;} */
.contact-sec {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    border-radius: 5px;
    padding: 1em;
    align-items: center;
}

.contact-sec .contact-box{
        display: flex;
        justify-content: space-between;
        width: 100%;
}
    .contact-box .contact{
        display: flex;
        flex-direction: column;
}
    .contact-box .one{
        flex-basis: 35%;
        min-width: 320px;
        margin-right: 60px;
}
.one .contact-title h3 {
    position: relative;
    font-weight: 600;
    color: #008080;
    display: inline-block;
    margin-bottom: 1em;
}
.one .contact-info{
    margin-bottom: .5em;
}
.contact-info .icon-group{
        display: flex;
        align-items: center;
        margin: 25px 0px;
    }
.icon-group .icon{
        width: 2em;
        height: 2em;
        border: 2px solid #008080;
        border-radius: 50%;
        margin-right: 1em;
        position: relative;
    }
.icon-group .icon i{
        font-size: 1em;
        color: #000000;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
.fa-brands, .fab {font-weight: 700;
    font-size:x-large;
    }
.icon-group .details span{
        display: block;
        color: #000000;
    }
.icon-group .details span:nth-child(1){
        text-transform: uppercase;
        color:  #008080;
        font-weight: bold;
    }
.one .social-icon{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        margin: 1em 0 1em;
    } 
.social-icon a{color: #000000;
        text-decoration: none;
        text-align: center;
        margin-right: 1em;
        border-radius: 5px;
    }
                /* -------------- */
.contact-sec .column .contact-2 h3 {
    font-weight: bold;
    font-size: medium;
    justify-self: 1em;
}
.contact-sec .contact-2 {
    text-align: center;
}
.contact-sec .contact-2 a{
    margin: 0%; 
}
.contact-sec .column .contact {
    align-items: flex-start;
}


    /* ----- Footer Section ----- */

footer {background-color: #000;
    text-align: center;}
footer p {margin-bottom: -1rem;}

    /* ---------- Mobile Responsive ---------- */

@media screen and (max-width: 580px) {
    
    /* ----- Home ----- */
.home .home-sec {
    padding: 3em 1em;
    display: flex;
    grid-template-columns: repeat(1, 1fr);
    flex-direction: column-reverse; 
    flex-wrap: wrap;
}
.cover-pic {
    width: 13em;
    height: 13em;
}
    /* ----- Service ----- */
.service-sec {
    justify-items: center;
    grid-template-columns: repeat(1,1fr);
}
    /* ----- Skills ----- */
.logos .logo {
    justify-self: center;
    width: 4em;
    height: 4em;
}
.skill-sec .logos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .8em;
}

    /* ----- Portfolio ----- */
.portfolio-sec .gallery {
    grid-template-columns: repeat(1,1fr);
}
    /* ----- Sample ----- */
.sample-sec {
    grid-template-columns: repeat(1,1fr);
}
    /* ----- Contact ----- */
.contact-sec {
    display: flex;
    grid-template-columns: repeat(1, 1fr);
    flex-direction: column-reverse; 
    /* flex-wrap: wrap; */
}
.contact-sec .contact-2 {
    text-align: center;
}
.contact-sec .contact-2 a{
    margin: 0%; 
}
.contact-sec .column .contact {
    align-items: flex-start;
}

}
    /* ---------- Tab Responsive ---------- */

@media screen and (min-width: 580px) and (max-width: 992px) {
    /* ----- Home ----- */
.home .home-sec {
    padding: 3em 1.5em;
}
.cover-pic {
    width: 16em;
    height: 16em;
}
    /* ----- Service ----- */
.service-sec {
    grid-template-columns: repeat(2,1fr); 
}       
    /* ----- Skills ----- */
.logos .logo {
    width: 7.5em;
    height: 7.5em;
}
.skill-sec .logos {justify-self: center;
    gap: 1.8em;
}
    /* ----- Portfolio ----- */
.portfolio-sec .gallery {
    grid-template-columns: repeat(2,1fr);
}
    /* ----- Sample ----- */
.sample-sec {
    grid-template-columns: repeat(2,1fr);
}
    /* ----- Contact ----- */
    .contact-sec {
        display: flex;
        grid-template-columns: repeat(1, 1fr);
        flex-direction: column-reverse; 
        /* flex-wrap: wrap; */
    }
    .contact-sec .contact-2 a{
        margin: 0%; 
    }
.contact-sec .column .contact {
    align-items: flex-start;
}  

}

@media(max-width: 1100px){
  .messageForm .halfWidth{
      flex-basis: 100%;
  }
}
@media(max-width: 900px){
  .row section.left, .row section.right{
      flex-basis: 100%;
      margin: 0px;
  }
}
